VITE_SUPABASE_URL=https://hxpotakslxysmkzlosnz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh4cG90YWtzbHh5c21remxvc256Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM3MTU5NTIsImV4cCI6MjA3OTI5MTk1Mn0.Bsys5Pg_1JVZyx9Ne13n3zVVc3RB5U8w6MuMxusD2HA
VITE_SUPABASE_BUCKET=memory-media

